.vs/WPFanimationFuncProgram/v17/.suo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
WPFanimationFuncProgram/.vs/WPFanimationFuncProgram/v17/.suo
WPFanimationFuncProgram/bin/
WPFanimationFuncProgram/obj/
.vs/
bin/
obj/
